name: Validate and Release Chart
run-name: ${{ github.event_name == 'pull_request' && format('Validate {0}', github.head_ref) || format('Validate and release {0}', github.ref_name) }}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  validate:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      
      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.19.0
      
      - name: Lint Helm chart
        run: helm lint charts/**

      - name: Validate chart
        run: |
          helm template charts/** --debug --dry-run
          echo "Chart validation successful"
  release:
    if: github.ref == 'refs/heads/main'
    needs: validate
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"